//
@tailwind base;

@tailwind components;

.btn {
    @apply appearance-none px-8 py-4;
}

.btn:focus {
    outline: none;
}
.header-section-arrow{    
    border-left: 1.7rem solid transparent;
    border-right: 1.7rem solid transparent;
    border-top: 3rem solid #00EF8B;
    right: 20%;
    bottom: -2rem;
}

.cta-btn {
    @apply  text-white uppercase font-medium w-full;
    background-color: #EF426F;
    box-shadow: 0.5rem 0.3rem 0rem 2px #363D87;
}

.cta-btn:hover {
    background-color: #FF4778;
    transition: 0.2s all;
    transition-timing-function: linear;
    box-shadow: 0.1rem 0.1rem 0rem 1px #363D87;
}

.cta-btn:hover span {
    display : none;
}
.cta-btn:hover:after {
    content: attr(data-hover);
    transition: 0.2s all;
}

.header-section-img{
    bottom: -3rem;
}

.video-container{
    height: 340px;
    width: 570px;
    overflow: hidden;
}

.video > img {
    transition: transform .5s ease;
}

.video:hover > img {
    transform: scale(1.2);
}

.video-container .play-icon {   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-container:hover .play-icon  .circle {
    fill: #ef426f;
}  
.video-container .play-icon  .circle {
    stroke: #ef426f;
    fill: none;
    
}

    
@tailwind utilities;